.blog{
    display: grid;
    gap:4rem;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px){
    .blog{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:992px){
    .blog{
        grid-template-columns: repeat(3,1fr);
    }
}