.footer{
    background-color: var(--ocsure);
    padding: 6rem;
}

.nav{
    gap: 2rem;
    text-align: center;
}
.nav a{
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}