:root{
  --white: #eee;
  --ocsure: #333;
  --hover__color:#457b9d;
}

html{
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[class*='contenedor']{
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

p{
  font-size: 2rem;
}




